[submodule ".config/bash"]
	path = .config/bash
	url = https://github.com/GregWWalters/cfg-bash
[submodule ".config/sh"]
	path = .config/sh
	url = https://github.com/GregWWalters/cfg-sh
[submodule ".config/zsh"]
	path = .config/zsh
	url = https://github.com/GregWWalters/cfg-zsh
[submodule ".config/git"]
	path = .config/git
	url = https://github.com/GregWWalters/cfg-git
