[submodule ".config/bash"]
	path = .config/bash
	url = git@github.com:GregWWalters/cfg-bash.git
[submodule ".config/sh"]
	path = .config/sh
	url = git@github.com:GregWWalters/cfg-sh.git
[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:GregWWalters/cfg-zsh.git
[submodule ".config/git"]
	path = .config/git
	url = git@github.com:GregWWalters/cfg-git.git
