* {
    border: none;
    border-radius: 0;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(51, 51, 51, 0.75);
    color: #ffffff;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background: #64727D;
    padding: 0 10px;
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
}

#window {
    padding: 0 10px;
}

#pulseaudio.muted {
    color: #888888;
}

#temperature.critical {
    color: #eb4d4b;
}
